PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000001
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
OPTIMISM_SEPOLIA_RPC=https://sepolia.optimism.io
BASE_SEPOLIA_RPC=https://sepolia.base.org
MAINNET_RPC=https://eth.llamarpc.com
ARBISCAN_API_KEY=
OPSCAN_API_KEY=
BASESCAN_API_KEY=
